header{
    padding:30px 0 10px 0;
    
    .left-section{
        display:flex; 
        justify-content:center; 
        align-items:center; 
        font-size:12px; 
        letter-spacing:normal; 
    }
    .right-section{
        color:black;
    }

    &.home{
        .left-section{
            color:white;
        }
        .right-section{
            color:white;
        }
    }
    
}