#account{
    padding-top: 6px;
    padding-bottom: 4px;

    .welcome-content.pull-right{
        float:right;
        padding-right:20px;

        .space, div a{
            vertical-align:middle;
            padding: 0 10px 0 10px;
        }

        div a{
            color:black;
        }
    }

    &.home{
        .welcome-content.pull-right{
            background-color: transparent;

            .space, div a{
                color:white;
            }
        }
    }

}