.product-name{
    font-size: 20px;
    letter-spacing: normal;
    line-height: 30px;
    font-weight: 600;
}

.product-label-sm{
    font-weight: 500 !important;
    min-width: 117px;
    font-size: 12px;
}